:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #e84f34;

  --header-height: 12rem;
  --nav-height: 4rem;
  --header-search-height: calc(var(--header-height) - var(--nav-height));
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

ul {
  padding:0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}